<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/css/includes/barre_nav.css">
    <title>Document</title>
</head>
<body>
    <!-- BARRE DE NAVIGATION -->
    <nav id="barre_nav">
        <div id="logo">
            <img src="/img/icon_logo.png" alt="">
        </div>
        <div id="menu">
            <ul>
                <%if(!connected){%>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/produits">Produits</a></li>
                    <li><a href="connection">Contact</a></li>
                
                <%} else {%>
                    <li><a href="/connected">Accueil</a></li>
                    <li><a href="/produits">Produits</a></li>
                    <li><a href="contact">Contact</a></li>
                <%}%>
            </ul>
        </div>
        <% if (connected) { %>
            <div id="profil_connected">
                <a id="cart" href="/panier"><img id="cart_pic" src="/img/shopping-cart_icon.png" width="40px" alt="" ><%=total_price%></a>
                <!-- <a id="profil" href="connection"><img id="profil_pic" src="/img/icon_profil.png" width="40px" alt=""></a> -->
                <a id="se_deconnecter" href="deconnection">Se déconnecter</a>
            </div>
            <% } else { %>
            <!-- <a id="profil" href="connection"><img id="profil_pic" src="/img/icon_profil.png" width="40px" alt=""></a> -->
            <a id="se_connecter" href="/connection">Se connecter</a>
            <% } %>

        <% if(connection || inscription || panier){ %>
            <script>
                $(document).ready(function(){
                        $("#contenu").css("filter", "blur(4px)");
                    });
                    // si on appui sur la touche echap
                    if (e.key === "Escape") { // escape key maps to keycode `27`
                        window.location.href = "/";
                    }
            </script>
        <% } %>
    </nav>


    <div id="menu_smartphone">
        <div id="menu_smartphone_icon">
            <img id="img_s" src="/img/menu_icon.png" alt="" width="40px">
        </div>
        <div id="menu_smartphone_content">
            <li><a href="/connected">Accueil</a></li>
            <li><a href="/produits">Produits</a></li>
            <li><a href="contact">Contact</a></li>
            <li>
                <!-- si connected -->
                <% if (connected) { %>
                    <a id="cart_a" href="/panier">Panier</a> <br>
                    <a id="se_deconnecter_a" href="deconnection">Se déconnecter</a>
                <% } else { %>
                    <a id="se_connecter_a" href="/connection">Se connecter</a>
                <% } %>
            </li>
        </div>
        
        
    </div>

    <script>
        // si on clique sur menu_smartphone_icon
        $("#menu_smartphone_icon").click(function(){
            // si le menu est caché
            if ($("#menu_smartphone_content").css("display") == "none"){
                // on l'affiche
                $("#menu_smartphone_content").css("display", "block");
            } else {
                // sinon on le cache
                $("#menu_smartphone_content").css("display", "none");
            }
            // changer l'icone en croix
            if ($("#img_s").attr("src") == "/img/menu_icon.png"){
                $("#img_s").attr("src", "/img/croix.png");
                // avec une transition douce
            } else {
                $("#img_s").attr("src", "/img/menu_icon.png");
            }
        });
    </script>
</body>
</html>