<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- BULLES MENU -->
    <!-- <div id="bulles">

        <div id='cont_chemise' style="display:none;">
            <a class='bubbled' href='#'>
                Chemise
            </a>
        </div>
        <div id='cont_veste' style="display:none;">
            <a class='bubbled' href='#'>
                Veste
            </a>
        </div>
        <div id='cont_pantalon' style="display:none;">
            <a class='bubbled' href='#'>
                Pantalon
            </a>
        </div>
        <div id='cont_chaussettes' style="display:none;">
            <a class='bubbled' href='#'>
                Accessoires
            </a>
        </div>
    </div> -->
    <!-- SCRIPT DES BULLES -->
    <!-- <script>
        

        $(document).ready(function(){
            $("#cont_chemise").css("display", "none");
            $("#cont_veste").css("display", "none");
            $("#cont_pantalon").css("display", "none");
            $("#cont_chaussettes").css("display", "none");

            $("#chemise").mouseover(function(){
                if($(window).width() < 1100){
                    $("#cont_chemise").css("display", "block");
                }
            });
            $("#chemise").mouseout(function(){
                $("#cont_chemise").css("display", "none");
            });

            $("#veste").mouseover(function(){
                if($(window).width() < 1100){
                    $("#cont_veste").css("display", "block");
                }
            });
            $("#veste").mouseout(function(){
                $("#cont_veste").css("display", "none");
            });

            $("#pantalon").mouseover(function(){
                if($(window).width() < 1100){
                    $("#cont_pantalon").css("display", "block");
                }
            });
            $("#pantalon").mouseout(function(){
                $("#cont_pantalon").css("display", "none");
            });

            $("#chaussettes").mouseover(function(){
                if($(window).width() < 1100){
                    $("#cont_chaussettes").css("display", "block");
                }
            });
            $("#chaussettes").mouseout(function(){
                $("#cont_chaussettes").css("display", "none");
            });
        });
    </script> -->
</body>
</html>