<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- LOGIN -->
    <div id="pop_up_log" style="display: block;">
        <div id="log_window">
            <!-- FORMULAIRE -->
            <div class="login-box">
                <!-- CROIX POP UP -->
                <div id="close_pop_up">
                    <a href="/"><img src="/img/croix.png" alt="" width="20px" height="20px"></a>
                </div>
                <h2 id="pop_up_state">Se connecter</h2>
                <form action="connection" method="POST">
                  <div class="user-box">
                    <input type="email" name="email" required="" value="<%= email %>">
                    <label>Email</label>
                  </div>
                  <div class="user-box">
                    <input type="password" name="password" required="">
                    <label>Mot de passe</label>
                  </div>
                  <input type="submit" id="submit" value="Confirmer"></input>
                </form>
                <div id="no_account">
                    <p>Pas de compte ?</p>
                    <a id="no_account_btn" href="inscription">S'inscrire</a>
                </div>
            </div>
            <div>
                <a href="gerant">GERANT</a>
            </div>
            
        </div>
    </div>
</body>
</html>