<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="panier">
        <div id="panier_window">
            <!-- CROIX POP UP -->
            <div id="close_pop_up">
                <a href="/connected"><img src="/img/croix.png" alt="" width="20px" height="20px"></a>
            </div>
            <div id="panier_title">
                <h1>Votre panier</h1>
            </div>

            <!-- liste du panier -->
            <div id="panier_list">
                
            </div>


            <div id="infos">
                <div id="infos_left">
                    <p id="total">Total : <span id="total_price"></span></p>
                    <p id="total">Frais de port : <span id="total_price">5€</span></p>
                    <p id="total">Total à payer : <span id="total_price"></span></p>
                </div>
                <div id="infos_right">
                    <p id="total">Adresse de livraison : <span id="total_price"></span></p>
                    <p id="total">Mode de paiement : <span id="total_price"></span></p>
                </div>
            </div>

        </div>
    </div>
</body>
</html>