body{
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}

#barre_nav{
    color: white;
    display: flex;
    justify-content: space-between;
}

#logo{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#logo img{
    height: 60px;
}

#menu{
    width: 60%;
    margin-right: 10px;
}

#menu ul{
    display: flex;
    justify-content: space-between;
}

#menu ul li{
    margin-top: auto;
    margin-bottom: auto;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

#profil_pic{
    width: 50px;
    height: 50px;
}

#titre{
    margin-top: 100px;
    margin-bottom: 100px;
}

#titre h1{
    text-align: center;
}

#red_text{
    color: rgb(198, 96, 96);
}

#produits{
    width: 90%;
    background-color: #cfcfcf;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    border-radius: 50px;
}

#produits_nav{
    width: 95%;
    height: 60px;
    background-color: #adadad;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50px;
}

#produits_nav nav{
    display: flex;
    justify-content: space-between;
}

#produits_nav nav ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-top: 5px;
}

#produits_nav img{
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

#naav:hover{
    box-shadow: 0px 0px 5px 3px #ffffff;
}

#combinaisons{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}

#produits h2{
    padding-top: 20px;
    text-align: center;
}

#produits_liste{
    padding-top: 25px;
    width: 1250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: auto;
    margin-left: auto;
    
}

#container{
    background-color: rgb(188, 118, 118);
}

#produit{
    background-color: #e8e8e8;
    width: 300px;
    height: 450px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

#produit img{
    width: 100%;
    height: 350px;
    background-color: rgb(182, 105, 105);
}

#produit h3{
    margin-left: 10px;
    margin-right: 10px;
}

#price{
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #adadad;
    margin-top: 100px;
    text-align: center;
    padding-top : 20px;
}

footer ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 1400px) {
    #produits_liste{
        width: 930px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 1100px) {
    #produits_liste{
        width: 650px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 750px) {
    #produits_liste{
        width: 300px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-right: auto;
        margin-left: auto;
    }
}