<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/css/liste_produits.css">
    <title>Document</title>
</head>
<body>
    <%- include('includes/barre_nav.ejs'); %>

    <!-- PRODUITS -->
    <div id="produits">
        <!-- BARRE DE NAVIGATION DES PRODUITS -->
        <div id="produits_nav">
            <nav>
                <ul>
                    <!-- remplacer les textes par des icon par la suite -->
                    <li><a href="/produits/chemise"><div id="type_produit_txt">Chemises</div><img id="chemise" src="/img/chemise_icon.png" alt=""></a></li>
                    <li><a href="/produits/veste"><div id="type_produit_txt">Vestes</div><img id="veste" src="/img/veste_icon.png" alt=""></a></li>
                    <li><a href="/produits/pantalon"><div id="type_produit_txt">Pantalons</div><img id="pantalon" src="/img/pantalon_icon.png" alt=""></a></li>
                    <li><a href="/produits/accessoire"><div id="type_produit_txt">Accessoires</div><img id="chaussettes" src="/img/chaussettes_icon.png" alt=""></a></li>
                </ul>
                <a id="combinaisons" href="#">Combinaisons</a>
            </nav>
        </div>
    
        <div id="current_type">
            <!-- rentre dynamique en fonction de la catégorie selectionnée -->
            <% if(!inscription && !connection) {%>
                <h2>
                    Combinaisons
                </h2>
            <% } %>
        </div>
        <%- include('includes/cadre_combi.ejs'); %>

    </div>
</body>
</html>