<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/connection.css">
    <title>Document</title>
</head>
<body>
    <div id="div_logo">
        <img id="logo" src="/img/logo.png" alt="">
    </div>

    <% if(connection){ %>
        <!-- LOGIN -->
        <%- include('includes/login.ejs'); %>
    <% } else if(inscription) { %>
        <!-- REGISTER -->
        <%- include('includes/register.ejs'); %>
    <% } %>
    
</body>
</html>