<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
  

    <div id="contenu">
        <!-- BARRE DE NAVIGATION -->
        <%- include('includes/barre_nav.ejs'); %>

        <!-- TITRE -->
        <% if (!connected){ %>
            <div id="logo_cadre">
                <img id="img_logo" src="/img/logo.png" alt="">
                <img id="fly" src="/img/test.png" alt="">
            </div>
        <% } else { %>
            <div id="logo_cadre">
                <img id="img_logo" src="/img/logo.png" alt="">
                <img id="fly" src="/img/test.png" alt="">
            </div>
        <% } %>



        <!-- FOOTER -->
        <%- include('includes/footer.ejs'); %>
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <% if(!connection && !inscription && !panier && !connected){ %>
        <script>
            const sr = ScrollReveal({
                distance : '60px',
                duration : 2600,
                delay : 450,
                reset : false
            });
            sr.reveal('#barre_nav',{delay: 100, origin:'top'});
            sr.reveal('#img_logo',{delay: 100, origin:'top'});
            sr.reveal('#produits',{delay: 100, origin:'top'});
            sr.reveal('#fly',{delay: 400, origin:'top'});
        </script>
    <% } %> 

</body>
</html>