body {
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
}

#contenu {
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
}


/* --------------------------- LOGO --------------------------- */

#div_logo{
  width: 100%;
  text-align: center;
}

#logo{
  width: 200px;
}


/* --------------------------- FORMULAIRE --------------------------- */

#close_pop_up {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
  }
  
#pop_up_log {
  width: 100%;
  height: 1000px;
  position: fixed;
  z-index: 2;
  margin: 0;
  padding: 0;
}
  
#pop_up_reg {
  width: 100%;
  height: 1000px;
  position: fixed;
  z-index: 2;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
  
#log_window {
  width: 500px;
  height: 700px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.login-box {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(69, 68, 68);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.login-box .user-box {
  position: relative;
}
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffffff;
  font-size: 12px;
}
/* #submit {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}
#submit:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
} */
#submit span {
  position: absolute;
  display: block;
}
#no_account {
  text-align: right;
  color: white;
}
#no_account_btn,
#no_account_btn2 {
  color: white;
  text-decoration: none;
}
#no_account_btn:hover,
#no_account_btn2:hover {
  color: #ffffff;
  cursor: pointer;
}

  
/* si la fenetre fais moins de 500px de largeur*/
@media screen and (max-width: 500px) {
  #log_window {
    width: 300px;
    height: 700px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .login-box {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 350px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(69, 68, 68);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }
}
