@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");



#box_choice{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#box_stocks{
  width: 300px;
  height: 50px;
  background-color: rgb(231, 231, 231);
  border-radius: 50px;
  display: flex;
}

#box_content img{
  width: 30px;
  margin-left: 20px;
} 


#box_stocks:hover{
  transition: 0.5s;
  background-color: rgb(196, 196, 196);

}

#box_commandes{
  width: 300px;
  height: 50px;
  background-color: rgb(231, 231, 231);
  border-radius: 50px;
  display: flex;
  margin-top: 20px;
}

#box_commandes:hover{
  transition: 0.5s;
  background-color: rgb(196, 196, 196);
}

#box_content{
  display: flex;
  margin: auto;
}




/* --------------------------- TABLEAU STOCKS --------------------------- */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 24px;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.table {
  width: 100%;
  border: 1px solid #eeeeee;
}

.table-header {
  display: flex;
  width: 100%;
  background: #000;
  padding: 18px 0;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
}
.table-row:nth-of-type(odd) {
  background: #eeeeee;
}

.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
}

.header__item {
  text-transform: uppercase;
}

.filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}
.filter__link::after {
  content: "";
  position: absolute;
  right: -18px;
  color: white;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.filter__link.desc::after {
  content: "(desc)";
}
.filter__link.asc::after {
  content: "(asc)";
}

#edit_button{
  border : solid 1px black;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  background-color: rgb(230, 230, 230);
  transition: all 0.1s ease-in-out;
}

#edit_button:hover{
  border : solid 1px rgb(46, 46, 46);
  background-color: black;
  color: white;
  cursor: pointer;
}


#title_gerant{
  display: flex;
}

#title_gerant a{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
}


#title_gerant img{
  width: 40px;
}

#addS{
  width: 50px;
}

#addM{
  width: 50px;
}

#addL{
  width: 50px;
}

#addXL{
  width: 50px;
}


#add_button{
  width: 100px;
  border: solid 1px rgb(121, 182, 121);
  background-color: rgb(121, 182, 121);
  border-radius: 5px;
  padding: 5px;
  position : absolute;
  top :400px;
  left: 50%;
  transform: translate(-50%);
}

#add_button:hover{
  background-color: rgb(152, 209, 152);
  cursor: pointer;
  border : solid 1px rgb(152, 209, 152);
}


#commande_livree{
  width: 200px;
  border: solid 1px rgb(121, 182, 121);
  background-color: rgb(121, 182, 121);
  border-radius: 5px;
  padding: 5px;
  position : absolute;
  top :400px;
  left: 50%;
  transform: translate(-50%);
  text-decoration: none;
}

#commande_livree:hover{
  background-color: rgb(152, 209, 152);
  cursor: pointer;
  border : solid 1px rgb(152, 209, 152);
}

#commande_livree_content{
  display: flex;
  margin: auto;
  width: 150px;
  color: white;
}

#commande_livree_content img{
  margin-bottom: auto;
  margin-top: auto;
  width: 30px;
  height: 30px;
}