#twitter {
  height: 40px;
  width: 40px;
}

#facebook {
  height: 40px;
  width: 40px;
}

#instagram {
  height: 40px;
  width: 40px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  color: #000000;
  text-align: center;
}

.rs {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #000000;
}

#social {
  text-align: center;
  margin-right: 35px;
}

#message {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #000000;
  text-align: center;
}
